@model AzureStorageTodos.Models.TodoEntityModel
@{
    ViewData["Title"] = "Delete Todo";
}

<h1>@ViewData["Title"]</h1>

<a class="mb-4" asp-action="Index" asp-controller="Todos">Return to List</a>

@Html.DisplayForModel()

<form asp-action="Delete" method="POST">
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.OwnerUserId)
    @Html.HiddenFor(m => m.Title)
    @Html.HiddenFor(m => m.Description)
    @Html.HiddenFor(m => m.Completed)
    <input class="btn btn-danger" type="submit" value="Confirm" />
</form>